<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body class = "user-body">
        <h1>Blogs</h1>
        <hr class = "list-title">
        <div class="album text-muted">
            <div class="container">

              <div class="row">
                  <%@reversed_blogs = @blogs.reverse%>
                  <%@reversed_blogs.each do |blog| %>
                  <a href = "<%=user_blog_path(:user_id,blog)%>">
                    <div class="card">
                        <%= image_tag(blog.thumbnail, class: "card-image") %>
                        <div><%=blog.title%>.</div>
                        <p class="card-text"><%=blog.sample_content%>.</p>
                    </div>
            </a>
            <%end %>
            </div>
        </div>
        </div>
    </body>
</html>
