
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body class = "user-body">
        <h1> <%= @video.title %> </h1>
        <div class="show_container">
            <div class="video-left">
                <iframe width="600" height="400"
                src= <%= @video.vidurl %> >
                </iframe>

            </div>
            <div class="video-right">
                <p><%= @video.description %></p>
            </div>


        </div>


    </body>
</html>
