<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body class = "bg">
        <div class="jumbotron">
          <h1 class = "welcome-jumbo">Welcome to HalfTilt</h1>
          <p>Welcome to Twitch. We are a global community of millions who come
               together each day to create their own entertainment: unique,
               live, unpredictable, never-to-be repeated experiences created by
               the magical interactions of the many. With chat built into every
                stream, you don’t just watch on Twitch, you’re a part of the show.
            </p>
          <div class = "jumbotron-button-left">
              <a class="btn btn-outline-primary"  <%= link_to('Sign In',new_user_session_path)%></a>

                 <a class="btn btn-outline-success" id = "button-right" href="/users/sign_up/" role="button">Sign Up</a>
             </div>

        </div>



    </body>
</html>
