<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body class = "bg">
        <div class="jumbotron">
          <h1>Welcome to HalfTilt</h1>
          <p>Where gamers go to flame, B.M, talk shit, and upload V.O.Ds for people to either
          shit on or give props</p>
          <div class = "jumbotron-button-left">
              <a class="btn btn-outline-primary"  <%= link_to('Sign In',new_user_session_path)%></a>

                 <a class="btn btn-outline-success" id = "button-right" href="/users/sign_up/" role="button">Sign Up</a>
             </div>

        </div>



    </body>
</html>
